<article class="post-preview">
  <h2><a href="{{ site.baseurl }}{{ include.item.url }}">{{ include.item.title }}</a></h2>
  <div class="post-meta">
    <time datetime="{{ include.item.date | date_to_xmlschema }}">{{ include.item.date | date: "%B %d, %Y %l:%M %p" }}</time>
    {% if include.item.author %}
      <span class="author">by {{ include.item.author }}</span>
    {% endif %}
     {% if include.item.tags %}
       <div class="tags">
         {% for tag in include.item.tags %}
           <a href="{{ site.baseurl }}/#{{ include.collection | default: 'news' }}&search={{ tag | slugify }}" class="tag">{{ tag }}</a>
         {% endfor %}
       </div>
     {% endif %}
  </div>
  <img src="{% if include.item.image %}{{ include.item.image | prepend: site.baseurl }}{% else %}{{ '/assets/images/404_image.jpg' | prepend: site.baseurl }}{% endif %}" alt="{{ include.item.title }}" class="post-thumbnail">
  {% if include.item.excerpt %}
    <p class="excerpt">{{ include.item.excerpt | strip_html | truncatewords: 30 }}</p>
  {% endif %}
  <a href="{{ site.baseurl }}{{ include.item.url }}" class="read-more">Read more &rarr;</a>
</article>
